---
import WhatsAppIcon from "../Icons/WhatsappIcon";
import FacebookIcon from "../Icons/FacebookIcon";
import InstagramIcon from "../Icons/InstagramIcon";

const currentUrl = new URL(Astro.request.url).pathname;

const navItems = [
  { title: "Inicio", href: "/" },
  { title: "Sobre mí", href: "/sobre-mi" },
  { title: "Encuentros", href: "/encuentros" },
  { title: "Contacto", href: "/contacto" },
];

const whatsappNumber = import.meta.env.WHATSAPP_NUMBER;
---

<header
  class="fixed top-0 w-full shadow z-50 bg-orange-50 transition duration-300 ease-in-out"
>
  <div class="container mx-auto flex items-center justify-between px-4 py-3">
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <img src="/images/logo_s.png" alt="Logo" class="h-8 mr-2" />
      <span class="text-lg font-semibold text-orange-3 font-serif"
        >Espacio Amapola</span
      >
    </a>

    <!-- Menú hamburguesa -->
    <button
      id="hamburger-button"
      class="md:hidden text-orange-3 z-50"
      aria-label="Abrir menú"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Menú Desktop -->
    <nav class="hidden md:flex flex-1 justify-center space-x-6">
      <ul class="flex space-x-6">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={`text-gray-700 hover:text-orange-3 hover:scale-105 transition-transform duration-300 focus:outline-none  ${
                  currentUrl === item.href ? "font-semibold" : ""
                }`}
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <!-- Botón WhatsApp -->
    <div class="hidden md:flex">
      <a
        href={`https://wa.me/${whatsappNumber}`}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center bg-orange-3 text-white-1 px-4 py-2 rounded-full hover:brightness-125"
      >
        <!-- Componente WhatsAppIcon -->
        <WhatsAppIcon className="h-5 w-5 fill-current" />
      </a>
    </div>

    <!-- Overlay Mobile -->
    <div
      id="mobile-menu"
      class="fixed inset-0 bg-orange-3 flex flex-col items-center justify-center gap-8 transform scale-0 translate-y-full transition-transform duration-300 ease-in-out z-40"
      aria-hidden="true"
    >
      <!-- Botón de cierre -->
      <button
        id="close-button"
        class="absolute top-4 right-4 text-white-1 text-2xl focus:outline-none"
        aria-label="Cerrar menú"
      >
        &times;
      </button>

      <!-- Logo -->
      <div
        class="flex items-center justify-center p-4 bg-white-1 bg-opacity-10 rounded-lg space-x-4"
      >
        <img
          src="/images/logo_s.png"
          alt="Logo Espacio Amapola"
          class="h-12 mr-2"
        />
        <span class="text-lg font-serif font-semibold text-white-1"
          >Espacio Amapola</span
        >
      </div>

      <!-- Enlaces del menú -->
      <ul
        class="text-white-1 text-center text-lg font-normal font-sans space-y-4"
      >
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="hover:font-medium hover:scale-105 transition-transform duration-300 focus:outline-none"
                onclick="document.getElementById('mobile-menu').classList.toggle('scale-0')"
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>

      <!-- Botón WhatsApp -->
      <a
        href={`https://wa.me/${whatsappNumber}`}
        target="_blank"
        rel="noopener noreferrer"
        class="bg-white-1 p-3 rounded-full hover:bg-orange-50 hover:scale-105 transition duration-300 focus:outline-none"
      >
        <WhatsAppIcon className="h-5 w-5 fill-orange-3" />
      </a>

      <!-- Redes Sociales -->
      <div class="flex space-x-4 mt-4">
        <a
          href="#"
          target="_blank"
          class="text-white hover:scale-125 transition-transform duration-300"
        >
          <InstagramIcon className="fill-white-1 h-5 w-5 " />
        </a>
        <a
          href="#"
          target="_blank"
          class="hover:scale-105 transition-transform duration-300"
        >
          <FacebookIcon className="fill-white-1 h-5 w-5" />
        </a>
      </div>
    </div>
  </div>

  <script is:inline>
    const hamburgerButton = document.getElementById("hamburger-button");
    const closeButton = document.getElementById("close-button");
    const mobileMenu = document.getElementById("mobile-menu");

    hamburgerButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("scale-0");
      mobileMenu.classList.toggle("translate-y-full");
      hamburgerButton.classList.add("hidden");
      closeButton.classList.remove("hidden");
    });

    closeButton.addEventListener("click", () => {
      mobileMenu.classList.add("scale-0");
      mobileMenu.classList.add("translate-y-full");
      hamburgerButton.classList.remove("hidden");
      closeButton.classList.add("hidden");
    });

    window.addEventListener("scroll", () => {
      const header = document.querySelector("header");
      if (window.scrollY > 50) {
        header.classList.add("bg-orange-2", "shadow-lg");
      } else {
        header.classList.remove("bg-orange-2", "shadow-lg");
      }
    });
  </script>
</header>
