---
const title = "Testimonios de quienes confiaron en Espacio Amapola";
const subtitle =
  "Historias reales, experiencias únicas y momentos inolvidables.";

const testimonials = [
  {
    name: "Justi y Nico",
    image: "/images/en_pareja_img.png",
    text: "No duden en regalarse este espacio, es un mimo y una lindísima forma de transitar el embarazo. Empecé a hacer acompañamiento individual con Rochi cuando faltaban dos meses para mi fecha probable de parto. Este espacio fue para mí de quietud y encuentro. Encuentro con mi bebé, con mi cuerpo cambiante, conmigo misma. Rochi habilita este espacio de manera dulce y suave. Comparte toda la información que tiene, que es muy valiosa y fruto de años de formación, pero no busca imponer. Acompaña de un modo humilde respetando en primer lugar las circunstancias de cada mujer/familia, con sus preferencias, cualquiera que ellas sean. Su trabajo apunta a generar conciencia y no a cambiar modos de pensar o decisiones tomadas. Esto me dio mucha tranquilidad. Además, los movimientos que hicimos me ayudaron mucho a calmar los dolores del cuerpo propios de esta etapa. También tuvimos encuentros en los que participó mi pareja. Fueron lindísimos, se generó un espacio de intimidad entre nosotros dos y se habilitaron conversaciones que en el día a día es difícil tener. Además Rochi aporta todo su conocimiento y experiencia, moderando las conversaciones pero sin invadir. Me pareció muy útil que mi pareja reciba la información de un tercero calificado y no a través mío, que puede ser muy subjetiva o cargada de emocionalidad. Los dos terminamos felices. Rochi también me acompañó como puericultora en mi lactancia, con un encuentro previo de preparación y luego cuando nació mi hijo. Estuvo siempre disponible, incluso para una visita presencial y verificar que todo esté yendo bien. Mi hijo ya tiene 5 meses y seguimos con lactancia materna exclusiva, y por suerte (y gracias a Rochi) sin mayores problemas.",
  },
  {
    name: "Amanda",
    image: "/images/en_pareja_img.png",
    text: "Tengo la suerte de haber contado con las palabras y el acompañamiento amoroso de Rochi tanto embarazada como luego del parto. En nuestra charla previa al nacimiento pude desagotar un montón de dudas y recibir recomendaciones que me ayudaron a mi y al padre a recibir nuestro bebe con mucho amor, gracias a este encuentro pudimos encontrarnos mas como pareja y preparnos para el nacimiento de Ignacio. Creo en el dicho ‘la información es poder’ y en este sentido la lactancia se me dio de forma muy natural desde el nacimiento, mas allá que mi bebe y yo estuvimos separados 3 días. Las charlas por WhatsApp con Rochi me trajeron mucha información, serenidad y paciencia para generar el vínculo con mi bebe a través de la lactancia, el cual se dio sin dificultades",
  },
  {
    name: "Angie",
    image: "/images/en_pareja_img.png",
    text: "Fue clave tener el acompañamiento de Rochi en este mundo nuevo de la lactancia. Gracias a sus consejos y guía pude disfrutar mucho de darle de mamar a Jacinta. Además, a los tres meses de la beba tuve un dolor  fuerte que me asustó mucho y Rochi enseguida me contestó con mucha calma y seguridad ! Con sus indicaciones el dolor y el miedo se fueron en muy poco tiempo. Como madre primeriza me ayudo muchísimo tenerla a Rochi guiándome.",
  },
  {
    name: "Male",
    image: "/images/en_pareja_img.png",
    text: "Rochi me acompañó durante el embarazo y en mis primeros meses de lactancia. En momentos donde necesitaba contención y ayuda, siempre conté con ella, con su consejo, su aliento, su positividad y su calma. Gracias por darme confianza en mi misma, por entenderme y no minimizar en ningún momento mis preocupaciones o dudas. Gracias rochi!.",
  },
  {
    name: "Rocio",
    image: "/images/en_pareja_img.png",
    text: "Rosario me brindó ayuda de forma inmediata cuando la contacté. Le escribí y en el mismo día me respondió y comenzó a pasarme información y a explicarme cómo podía mejorar la prendida para no sentir dolor mientras acordábamos un horario para la consulta. Vino a mi casa y con mucha paciencia y dulzura me explicó todo, probamos varias posturas para amamantar, habló con mi esposo para que él sepa cómo ayudarme y me dió las pautas que necesitaba para poder seguir amamantando. Durante los siguientes días me escribió varias veces para preguntarme cómo seguía, respondió mis dudas. Me acompañó muchísimo con mucho respeto y calidez. Se nota que ama lo que hace.",
  },
  {
    name: "Male",
    image: "/images/en_pareja_img.png",
    text: "Mil gracias Rochi por tu ayuda!! Estaba súper angustiada por sentir tanto dolor y no disfrutar la lactancia. Poco a poco fui poniendo en práctica tus consejos y ahora los dos: bauti y yo disfrutamos mucho de un momento único para ambos!.",
  },
];
---

<section class="py-24 bg-orange-50">
  <div class="container mx-auto px-6 text-center">
    <h1
      class="text-4xl md:text-5xl font-serif font-semibold text-gray-700 mb-4"
    >
      {title}
    </h1>
    <p class="text-lg md:text-xl font-sans text-gray-700 mb-8">
      {subtitle}
    </p>
  </div>

  <div
    class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8"
  >
    {
      testimonials.map((testimonial, index) => (
        <div class="bg-orange-50 rounded-xl overflow-hidden shadow-md transition duration-300 self-start">
          <img
            src={testimonial.image}
            alt={testimonial.name}
            class="w-full h-56 object-cover"
          />
          <div class="p-6">
            <h2 class="text-lg md:text-2xl font-serif font-semibold text-gray-700 py-1 px-3 rounded-full text-center">
              {testimonial.name}
            </h2>
            <p
              id={`testimonial-text-${index}`}
              class="testimonial-text text-sm md:text-base font-sans text-gray-700 mb-6 mt-4 transition-all duration-500 overflow-hidden max-h-40"
            >
              {testimonial.text}
            </p>
            <button
              class="text-white-1 text-sm md:text-base font-medium hover:brightness-125 toggle-expand bg-orange-3 w-full rounded-lg"
              data-index={index}
            >
              Leer más
            </button>
          </div>
        </div>
      ))
    }
  </div>
</section>

<script is:inline>
  if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", () => {
      let activeIndex = -1;

      document.querySelectorAll(".toggle-expand").forEach((button) => {
        button.addEventListener("click", (event) => {
          const index = parseInt(event.target.dataset.index);

          document.querySelectorAll(".testimonial-text").forEach((el, idx) => {
            if (idx !== index) {
              el.classList.remove("max-h-full");
              el.classList.add("max-h-36");
              document.querySelectorAll(".toggle-expand")[idx].innerText =
                "Leer más";
            }
          });

          const textElement = document.getElementById(
            `testimonial-text-${index}`
          );
          if (textElement.classList.contains("max-h-36")) {
            textElement.classList.remove("max-h-36");
            textElement.classList.add("max-h-full");
            event.target.innerText = "Leer menos";
          } else {
            textElement.classList.remove("max-h-full");
            textElement.classList.add("max-h-36");
            event.target.innerText = "Leer más";
          }
        });
      });
    });
  }
</script>
